In [2]:
import pandas as pd
import numpy as np

In [11]:
import pandas as pd
import requests
from io import StringIO

# Raw link to the CSV file
url = "https://raw.githubusercontent.com/Pavansyamala/Deep-Learning/main/archive/cubic_zirconia.csv"

# Download the CSV file content
response = requests.get(url)
data = StringIO(response.text)

# Read CSV into a Pandas DataFrame
df = pd.read_csv(data)

In [18]:
df.drop(columns=["Unnamed: 0"] , axis = 0 , inplace = True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26967 entries, 0 to 26966
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    26967 non-null  float64
 1   cut      26967 non-null  object
 2   color    26967 non-null  object
 3   clarity  26967 non-null  object
 4   depth    26270 non-null  float64
 5   table    26967 non-null  float64
 6   x        26967 non-null  float64
 7   y        26967 non-null  float64
 8   z        26967 non-null  float64
 9   price    26967 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 2.1+ MB

In [23]:
df.describe()

,carat,depth,table,x,y,z,price
count,26967.000000,26270.000000,26967.000000,26967.000000,26967.000000,26967.000000,26967.000000
mean,0.798375,61.745147,57.456080,5.729854,5.733569,3.538057,3939.518115
std,0.477745,1.412860,2.232068,1.128516,1.166058,0.720624,4024.864666
min,0.200000,50.800000,49.000000,0.000000,0.000000,0.000000,326.000000
25%,0.400000,61.000000,56.000000,4.710000,4.710000,2.900000,945.000000
50%,0.700000,61.800000,57.000000,5.690000,5.710000,3.520000,2375.000000
75%,1.050000,62.500000,59.000000,6.550000,6.540000,4.040000,5360.000000
max,4.500000,73.600000,79.000000,10.230000,58.900000,31.800000,18818.000000

In [24]:
df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [27]:
df['cut'].unique()

array(['Ideal', 'Premium', 'Very Good', 'Good', 'Fair'], dtype=object)

In [28]:
df['cut'].value_counts()

cut
Ideal        10816
Premium       6899
Very Good     6030
Good          2441
Fair           781
Name: count, dtype: int64

In [33]:
cut_price = df.groupby(by = ["cut"])['price'].mean()

In [53]:
cut_encoding_dict = {}
cut_reverse_encoding = {}

In [54]:
for i , j in enumerate(cut_price.sort_values().index):
    cut_encoding_dict[j] = i+1 
    cut_reverse_encoding[i+1] = j

In [55]:
def cut_encoding(cut):
    return cut_encoding_dict[cut]

In [56]:
data = df.copy()

In [57]:
data.head(1)

   carat    cut color clarity  depth  table     x     y     z  price
0    0.3  Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499

In [58]:
data['cut'] = df['cut'].apply(cut_encoding)

In [62]:
np.corrcoef(data['cut'] , data['price'])

array([[1.        , 0.11007999],
       [0.11007999, 1.        ]])

In [65]:
data['color'].value_counts()

color
G    5661
E    4917
F    4729
H    4102
D    3344
I    2771
J    1443
Name: count, dtype: int64

In [68]:
color_price = data.groupby(by = ['color'])['price'].mean().sort_values()

In [76]:
color_encoding_dict = {}
colorr_reverse_encoding_dict = {}

for i, j in enumerate(color_price.index):
    colour_reverse_encoding_dict[i+1] = j
    color_encoding_dict[j] = i+1

In [77]:
def color_encoding(color):
    return color_encoding_dict[color]

In [79]:
data['color'] = data['color'].apply(color_encoding)

In [80]:
data.head(1)

   carat  cut  color clarity  depth  table     x     y     z  price
0    0.3    1      1     SI1   62.1   58.0  4.27  4.29  2.66    499

In [81]:
np.corrcoef(data['color'] , data['price'])

array([[1.        , 0.17543251],
       [0.17543251, 1.        ]])

In [84]:
data['clarity'].value_counts()

clarity
SI1     6571
VS2     6099
SI2     4575
VS1     4093
VVS2    2531
VVS1    1839
IF       894
I1       365
Name: count, dtype: int64

In [86]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [95]:
cat_column = df.drop(columns=['price'] , axis = 1).select_dtypes(include=['object']).columns
num_column = df.drop(columns=['price'] , axis = 1).select_dtypes(exclude=['object']).columns
prices = df['price']

In [99]:
from datetime import datetime

In [102]:
curr_date = datetime.now()

In [108]:
curr_date.day , curr_date.month , curr_date.year , curr_date.hour , curr_date.minute , curr_date.second

(2, 2, 2024, 11, 16, 11)

In [109]:
curr_date

datetime.datetime(2024, 2, 2, 11, 16, 11, 832892)

In [110]:
curr_date.strftime()

'2024-02-02T11:16:11.832892'